
body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  text-align: center;
  margin-top: 30px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#level2 {
  font-size: 80%;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:hover {
  background-color: #f5f5f5;
}

#improve {
  text-align: center;
}

.feedback-link {
  display: inline-block;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.takeaways{
  color:black;
  font-weight: bold;
}

.comparison-section {
  margin-top: 30px;
}

.comparison-section h2 {
  color: #333;
  font-size: 24px;
  text-align: center;
}

.comparison-section ul {
  list-style-type: disc;
  margin-left: 30px;
  padding-left: 20px;
}

.comparison-section ul li {
  margin-bottom: 10px;
}

.comparison-section .difference-list {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.comparison-section .similarity {
  color: #4CAF50; /* Green color for similarities */
}

.comparison-section .difference {
  color: #FF5722; /* Red color for differences */
}
